html, 
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#window {
    height:100%;
    margin-top: 60px;
    bottom: 0;
    display: block;
    z-index: 1000;
}

#toolbar {
    padding-top: 15px;
}

.table-container {
    display: block;
    width: 100%;
    height: calc(100% - 150px);
    overflow: auto;
    background-color: white;
    border: 1px solid rgb(199, 198, 198);
}

.table-container thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    height: 3em;
}
thead tr {
    border-top: none;
}

th:last-child, td:last-child {
    position: sticky;
    right: 0;
    background-color: #eee;
    border: 3px;
}

.wrapper {
    margin: auto;
    width: 350px;
    padding: 20px; 
    margin-top: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn-group-vertical {
    width: 100%;
    text-align: center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

.alert-fixed {
    margin: 0 auto;
    position: absolute; 
    bottom: 0px;
    left: 50%;
    margin-left: -225px; 
    width: 450px;
    z-index:9999; 
    border-radius:15px;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input::outer-spin-button, input::inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}